@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(//db.onlinewebfonts.com/c/f3258385782c4c96aa24fe8b5d5f9782?family=Old+English+Text+MT);

.App {
  min-width: 1440px;
  min-height: 800px;
  height: 100vh;
  color: white;
  font-size: 30px;
  text-align: center;
  background-color: #181818;
  margin: auto;
  cursor: default;
  font-family: 'Nanum Myeongjo', serif;
}
