@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

.App {
  min-width: 1440px;
  min-height: 800px;
  height: 100vh;
  color: white;
  font-size: 30px;
  text-align: center;
  background-color: #181818;
  margin: auto;
  cursor: default;
  font-family: 'Nanum Myeongjo', serif;
}
